{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="d-grid gap-3">
        <h1>Reset password</h1>
        <div>
            {% if validlink %}
                <div class="col-sm-6 px-0">
                    <p>
                        Enter a new password.
                    </p>
                </div>
                <div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="d-grid gap-3">
                            {% for field in form %}
                                <div class="form-group">
                                    <div class="col-sm-6 px-0">
                                        <label for="id_{{ field.name }}">{{ field.label }}</label>
                                        {% render_field field class="form-control" %}
                                        {% for error_message in field.errors %}
                                            <div>
                                                <small id="id_{{ field.name }}" class="text-danger">{{ error_message }}</small>
                                            </div>
                                        {% endfor %}
                                        {% if field.help_text %}
                                            <div>
                                                <small id="id_{{ field.name }}" class="text-mutex">{{ field.help_text }}</small>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            <div>
                                <button class="btn btn-primary" type="submit">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            {% else %}
                <p>
                    This reset link is invalid, possibly because it has already been used.
                    You can request a <a href="{% url 'password_reset' %}">password reset here</a>.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
